[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "vendor/saffron"]
	path = vendor/saffron
	url = https://github.com/rubiefawn/saffron
[submodule "themes/saffron/assets/saffron"]
	path = themes/saffron/assets/saffron
	url = https://github.com/rubiefawn/saffron
