<style>
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  color-scheme: light dark;

  --col-paper: oklch(95% 0.015 80);
  --col-paper1: oklch(90% 0.03 80);
  --col-paper2: oklch(86% 0.05 80);
  --col-paper3: oklch(82% 0.07 80);

  --col-ink-black: oklch(18% 0.02 255);
  --col-ink-red: oklch(56% 0.2 12);
  --col-ink-blue: oklch(56% 0.15 250);
  --col-ink-purple: oklch(56% 0.15 295);

  --width: 80ch;
  --font-main: "Atkinson Hyperlegible Next", sans-serif;
  --font-secondary: "Atkinson Hyperlegible Next", sans-serif;
  --font-scale: 1em;
  --background-color: light-dark(var(--col-paper), var(--col-ink-black));
  --heading-color: light-dark(var(--col-ink-black), var(--col-paper));
  --text-color: var(--heading-color);
  --link-color: var(--col-ink-blue);
  --visited-color: var(--col-ink-purple);
  --code-background-color: #f2f2f2;
  --code-color: light-dark(var(--col-paper3), var(--col-paper1));
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 8px;
}

strong, b {
  color: var(--heading-color);
}

button {
  margin: 0;
  cursor: pointer;
}

time {
font-family: "B612 Mono";
	font-style: normal;
	font-size: 15px;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

code {
  font-family: "B612 Mono";
}

pre {
  margin: 0;
  background-color: #0d1117;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--code-color);
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto !important;
}

.highlight, .code {
  color: var(--code-color);
  border-radius: 0.5rem;
  padding: 0.5ch;
  border: 2px solid var(--text-color);
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}
</style>
